<div>
  <form class="form-inline" *ngIf="leagueValidation()">
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <input type="text" name="leagueToSearch" class="form-control" id="leagueToSearchForm" [(ngModel)]="leagueToSearch" [ngbTypeahead]="searchLeague" [inputFormatter]="leagueFormatter" [resultFormatter]="leagueFormatter" (selected)="itemSelected($event)" placeholder="League">
    </div>
    <button type="submit" class="btn btn-primary" (click)="goToLeague()" [disabled]="!leagueValidation()">Search</button>
  </form>
</div>