<ng-container *ngIf="match">
  <ng-container [ngSwitch]="getPlayerType()">
    <img class="rounded player-image" [src]="player.user.pictureUrl" *ngIf="showImage(player)">&nbsp;
    <em *ngSwitchCase="'deleted'" class="text-warning">deleted player</em>
    <span *ngSwitchCase="'current'">{{player.username}}</span>
    <a *ngSwitchCase="'disabled'" [routerLink]="['/leagues', match.league.id, 'players', player.id]">
      <del class="text-muted">{{player.username}}</del>
    </a>
    <a *ngSwitchDefault [routerLink]="['/leagues', match.league.id, 'players', player.id]">{{player.username}}</a>
  </ng-container>
  <ng-container *ngIf="!match.completed">
    &nbsp;<span class="small" ngbTooltip="Actual rating">{{player?.rating}}</span>
    &nbsp;<span class="badge badge-light" [ngbTooltip]="forecastTooltip" placement="right" (mouseover)="getForecast()">Forecast</span>
  </ng-container>
  <ng-container *ngIf="match.completed">
    &nbsp;<span class="small" ngbTooltip="Rating after match">{{getRating()}}</span>
    &nbsp;<span class="small text-success" appOcticon="triangle-up" *ngIf="getDelta() > 0"></span>
    &nbsp;<span class="small text-danger" appOcticon="triangle-down" *ngIf="getDelta() < 0"></span>
    <span class="small text-secondary" *ngIf="getDelta() != 0">{{getDelta()}}</span>
  </ng-container> 
</ng-container>
<ng-template #forecastTooltip>
  <app-small-spinner *ngIf="forecast === undefined"></app-small-spinner>
  <ng-container *ngIf="forecast !== undefined">
    <div *ngFor="let match of forecast">
      <span>{{getMatchScore(match)}}</span>
      &nbsp;<span class="small text-success" appOcticon="triangle-up" *ngIf="match.ratingDelta > 0"></span>
      &nbsp;<span class="small text-danger" appOcticon="triangle-down" *ngIf="match.ratingDelta < 0"></span>
      <span [ngClass]="{'text-success': match.ratingDelta > 0, 'text-danger': match.ratingDelta < 0}">{{match.ratingDelta}}</span>
    </div>
  </ng-container>
</ng-template>
