<h2 class="mt-2">Player statistics</h2>
<div class="alert alert-info" *ngIf="displayAlert()">
  No statistics to show!
</div>
<ng-container *ngIf="hasMatches()">
  <div class="card mt-2">
    <div class="card-header">
      Rating history
    </div>
    <div class="card-body">
      <div class="row my-2">
        <div class="col-4">
          <form id="chartPeriodForm" #chartPeriod="ngForm">
            <legend>Rating chart period</legend>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" [(ngModel)]="period" (ngModelChange)="buildRatingHistory()" name="period" [value]="0">
                Today
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" [(ngModel)]="period" (ngModelChange)="buildRatingHistory()" name="period" [value]="7">
                <span ngbTooltip="Last 7 days" placement="right">Last week</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" [(ngModel)]="period" (ngModelChange)="buildRatingHistory()" name="period" [value]="30">
                <span ngbTooltip="Last 30 days" placement="right">Last month</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" [(ngModel)]="period" (ngModelChange)="buildRatingHistory()" name="period" [value]="-1">
                From the beginning
              </label>
            </div>
          </form>
        </div>
        <div class="col-8">
          <app-spinner [resource]="ratingHistory"></app-spinner>
          <div class="alert alert-info" *ngIf="displayRatingHistoryAlert()">
            No chart to show for this time period!
          </div>
          <chart [options]="ratingHistory" *ngIf="hasRatingHistory()"></chart>
        </div>
      </div>
    </div>
  </div>
  <app-spinner [resource]="matchesStats"></app-spinner>
  <div class="card mt-2" *ngIf="matchesStats !== undefined">
    <div class="card-header">
      Overall
    </div>
    <div class="card-body">
      <div class="row my-2">
        <div class="col-3">
          <h5>Max rating:</h5>
        </div>
        <div class="col-9">
          <span ngbTooltip="{{minMaxRatingStats.series[0].data.date | date:'yyyy-MM-dd HH:mm'}}">{{minMaxRatingStats.series[0].data.rating}}</span>&nbsp;
          <span appOcticon="triangle-up" class="text-success"></span>
          <span class="small">{{minMaxRatingStats.series[0].data.delta}}</span>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-3">
          <h5>Min rating:</h5>
        </div>
        <div class="col-9">
          <span ngbTooltip="{{minMaxRatingStats.series[1].data.date | date:'yyyy-MM-dd HH:mm'}}">{{minMaxRatingStats.series[1].data.rating}}</span>&nbsp;
          <span appOcticon="triangle-down" class="text-danger"></span>
          <span class="small">{{minMaxRatingStats.series[1].data.delta}}</span>
        </div>
      </div>
      <div class="row my-2" *ngFor="let series of matchesStats.series">
        <div class="col-3">
          <h5>{{series.name}}:</h5>
        </div>
        <div class="col-9">
          <ngb-progressbar type="{{series.type}}" [value]="series.data.value" [max]="series.data.max" [showValue]="series.showValue">
            <span *ngIf="series.showValue != 'true'">{{series.data.value}} of {{series.data.max}}</span>
          </ngb-progressbar>
        </div>
      </div>
    </div>
  </div>
</ng-container>

