<div class="alert alert-info" *ngIf="!hasMatches()">
  Matches list is empty!
  <a [routerLink]="['/leagues', leagueId, 'matches', 'add']" class="alert-link">Add match</a>
</div>
<h2 *ngIf="hasPlayedMatches()">Matches list</h2>
<table class="table table-bordered" *ngIf="hasPlayedMatches()">
  <thead class="thead-default">
    <tr>
      <th>Date</th>
      <th>First player</th>
      <th>Score</th>
      <th>Second player</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let match of playedMatches; let i=index">
      <td>
        <span ngbTooltip="{{match.date | date:'HH:mm'}}">
          {{match.date | date:"yyyy-MM-dd"}}
        </span>
      </td>
      <td [ngClass]="{'table-success': isWinner(i, match.playerOne)}">
        <span *ngIf="!match.playerOne">
          <em class="text-warning">deleted player</em>
        </span>
        <span *ngIf="match.playerOne?.active == false">
          <del class="text-muted">{{match.playerOne.username}}</del>
        </span>
        <span *ngIf="match.playerOne?.active == true">{{match.playerOne.username}}</span>
      </td>
      <td>
        <span class="badge badge-default">{{getScore(i, match.playerOne)}}</span>
        :
        <span class="badge badge-default">{{getScore(i, match.playerTwo)}}</span>        
      </td>
      <td [ngClass]="{'table-success': isWinner(i, match.playerTwo)}">      
        <span *ngIf="!match.playerTwo">
          <em class="text-warning">deleted player</em>
        </span>
        <span *ngIf="match.playerTwo?.active == false">
          <del class="text-muted">{{match.playerTwo.username}}</del>
        </span>
        <span *ngIf="match.playerTwo?.active == true">{{match.playerTwo.username}}</span>
      </td>
      <td class="text-right"></td>
    </tr>
  </tbody>
</table>
<ul class="nav justify-content-end">
  <li>
    <a [routerLink]="['/leagues', leagueId, 'matches', 'add']">Add match</a>
  </li>
</ul>