<h2>{{getComponentName()}}</h2>
<app-spinner [resource]="hasActivePlayers"></app-spinner>
<div class="alert alert-info" *ngIf="displayAlert()">
  At least two players are needed to create the match!
  <a [routerLink]="['/leagues', leagueId, 'players']" class="alert-link">Manage players</a>
</div>
<form #matchSave="ngForm" class="col-12" *ngIf="hasMinTwoPlayers()">
  <div class="form-group row">
    <label for="player-one" class="col-2 col-form-label">Player one</label>
    <div class="col-4">
      <input type="text" name="player-one" [(ngModel)]="match.playerOne" (ngModelChange)="setMatchScore()" [ngbTypeahead]="searchPlayer" [inputFormatter]="playerFormatter" [resultFormatter]="playerFormatter" [disabled]="isCompleteMode()" class="form-control" placeholder="Type first player name">
    </div>
    <label for="player-two" class="col-2 col-form-label">Player two</label>
    <div class="col-4">
      <input type="text" name="player-two" [(ngModel)]="match.playerTwo" (ngModelChange)="setMatchScore()" [ngbTypeahead]="searchPlayer" [inputFormatter]="playerFormatter" [resultFormatter]="playerFormatter" [disabled]="isCompleteMode()" class="form-control" placeholder="Type second player name">
    </div>
  </div>
  <div class="form-check row" [ngClass]="{'disabled': mode}">
    <label class="form-check-label" >
    <input type="checkbox" [checked]="match.completed" (change)="checkboxCheckAction()" [disabled]="mode" class="form-check-input"> Complete match
    </label>
  </div>
  <div class="form-group row" *ngIf="match.completed">
    <label for="playerOneScore" class="col-2 col-form-label">Player one score</label>
    <div class="col-4">
      <div [(ngModel)]="playerOneScore" (ngModelChange)="setMatchScore()" ngbRadioGroup name="playerOneScore" class="btn-group btn-group-toggle">
        <label ngbButtonLabel class="btn btn-light" [ngClass]="{'btn-sm': scores.length > 9}" *ngFor="let score of scores">
          <input ngbButton type="radio" [value]="score">{{score}}
        </label>
      </div>
    </div>
    <label for="playerTwoScore" class="col-2 col-form-label">Player two score</label>
    <div class="col-4">
      <div [(ngModel)]="playerTwoScore" (ngModelChange)="setMatchScore()" ngbRadioGroup name="playerTwoScore" class="btn-group btn-group-toggle">
        <label ngbButtonLabel class="btn btn-light" [ngClass]="{'btn-sm': scores.length > 9}" *ngFor="let score of scores">
          <input ngbButton type="radio" [value]="score">{{score}}
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row" *ngIf="!match.completed">
    <label for="time" class="col-1 col-form-label">Time</label>    
    <div class="col-9">
      <ngb-timepicker name="time" [(ngModel)]="time" [spinners]="true" [size]="small" [minuteStep]="matchDuration"></ngb-timepicker>
      <div class="text-danger" *ngIf="!isTimeValid()">{{timeMessage}}</div>
      <div [ngbPopover]="queuePopContent" popoverTitle="Queue" #queuePopover="ngbPopover" triggers="manual" placement="bottom"></div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-9"></div>
    <div class="col-3">
      <button type="submit" id="matchSaveBtn" class="btn btn-success float-right" [disabled]="!formValid()" (click)="save()" [btnSpinner]="savePromise">Save</button>
      <button type="button" class="btn btn-link float-right" (click)="goToList()">Back to list</button>
    </div>
  </div>
</form>
<ng-template #queuePopContent>
  <div *ngFor="let match of getQueueMatches()">
    <span class="text-primary font-weight-bold ">{{ match.date | date: 'HH:mm' }}</span>
    {{ match.playerOne.username }} - {{ match.playerTwo.username }}
  </div>
</ng-template>
