<div class="page-header">
  <h1>Players list</h1>
</div>
<table class="table">
  <thead>
    <th>#</th>
    <th>Username</th>
    <th>Points</th>
    <th class="pull-right">Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let player of players; let i=index">
      <td>{{i + 1}}</td>
      <td>{{player.username}}</td>
      <td>{{player.points}}</td>
      <td></td>
    </tr>
  </tbody>
</table>
<ul class="nav nav-pills pull-right">
  <li>
    <a [routerLink]="['/tournaments', tournamentId, 'players', 'add']">Add player</a>
  </li>
</ul>