<h1>Players list</h1>
<div class="alert alert-info" *ngIf="!hasPlayers()">
  Players list is empty!  
  <a [routerLink]="['/leagues', leagueId, 'players', 'add']" class="alert-link">Add player</a>
</div>
<table class="table" *ngIf="hasPlayers()">
  <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Rating</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players; let i=index">
      <td>{{i + 1}}</td>
      <td>
        <a [routerLink]="['/leagues', leagueId, 'players', player.id]">{{player.username}}</a>
      </td>
      <td>{{player.rating}}</td>
      <td class="text-right">
        <a class="btn btn-outline-secondary btn-sm" [routerLink]="['/leagues', leagueId, 'players', player.id, 'edit']">Edit</a>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="openDeleteModal(i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<ul class="nav justify-content-end">
  <li>
    <a [routerLink]="['/leagues', leagueId, 'players', 'add']">Add player</a>
  </li>
</ul>