### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### Angular ###
/src/main/webapp/node
/src/main/webapp/node_modules
/src/main/webapp/dist
/src/main/webapp/tmp
/src/main/webapp/out-tsc