<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
  <div class="container">
    <a class="navbar-brand" href="#">{{title}}</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto" *ngFor="let nav of navbar">
        <li class="nav-item">
          <a class="nav-link" href="{{nav.url}}">{{nav.title}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown" ngbDropdown [autoClose]="false">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle  role="button">Queue</a>
          <div id="queue-dropdown" class="dropdown-menu">
            <app-queue-list></app-queue-list>
          </div>
        </li>
      </ul>
      <app-league-search></app-league-search>
    </div>
  </div>
</nav>