<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
  <div class="container">
    <a class="navbar-brand" href="#">{{title}}</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let nav of navbar">
          <a class="nav-link" href="{{nav.url}}">{{nav.title}}</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown [autoClose]="false" *ngIf="queue.id != null">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle  role="button">Queue</a>
          <div id="queue-dropdown" class="dropdown-menu">
            <app-queue-list [queue]="queue" [leagueId]="leagueId"></app-queue-list>
          </div>
        </li>
      </ul>
      <app-league-search></app-league-search>
    </div>
  </div>
</nav>