<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
  <div class="container">
    <a class="navbar-brand" href="#">{{title}}</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav" *ngFor="let nav of navbar">
        <li class="nav-item">
          <a class="nav-link" href="{{nav.url}}">{{nav.title}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Queue</a>
            <div class="dropdown-menu">
              <app-daily-queue></app-daily-queue>
            </div>
        </li>
      </ul>
    </div>
  </div>
</nav>