<h3>Info</h3>
<form #userInfo="ngForm">
  <div class="form-group row">
    <label for="picture" class="col-3 col-form-label">Profile picture</label>
    <div class="col-9">
      <img [src]="user.pictureUrl" class="rounded img-fluid img-thumbnail">    
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-3 col-form-label">Name</label>
    <div class="col-9">
      <input type="text" name="name" [(ngModel)]="user.name" class="form-control" readonly>
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-3 col-form-label">Email</label>
    <div class="col-9">
      <input type="text" name="email" [(ngModel)]="user.email" class="form-control" readonly>
    </div>
  </div>
  <div class="form-group row">
    <label for="timezone" class="col-3 col-form-label">Timezone</label>
    <div class="col-9">
      <select class="custom-select" [(ngModel)]="timezone" ngControl="timezone" name="timezone">
        <option *ngFor="let timezone of timezones"  [value]="timezone" class="form-control" [selected]="isUserTimezone(timezone)">{{ timezone }}</option>
      </select>
      <span>
        <button type="button" name="timezoneUpdateBtn" class="btn btn-primary" (click)="updateUserTimezone()" [disabled]="timezone == user.timezone">Update</button>
      </span>
    </div>
  </div>
</form>