<h3>Info</h3>
<form #userInfo="ngForm">
  <div class="form-group row">
    <label for="picture" class="col-3 col-form-label">Profile picture</label>
    <div class="col-9">
      <img [src]="user.pictureUrl" class="rounded img-fluid img-thumbnail">    
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-3 col-form-label">Name</label>
    <div class="col-9">
      <input type="text" name="name" [(ngModel)]="user.name" class="form-control" readonly>
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-3 col-form-label">Email</label>
    <div class="col-9">
      <input type="text" name="email" [(ngModel)]="user.email" class="form-control" readonly>
    </div>
  </div>
  <div class="form-group row">
    <label for="timezone" class="col-3 col-form-label">Timezone</label>
    <div class="col-9">
      <select class="custom-select" [(ngModel)]="timezone" ngControl="timezone" name="timezone">
        <option *ngFor="let timezone of timezones"  [value]="timezone" class="form-control" [selected]="isUserTimezone(timezone)">{{ timezone }}</option>
      </select>
      <span>
        <button type="button" name="timezoneUpdateBtn" class="btn btn-primary" (click)="updateUserTimezone()" [disabled]="timezone == user.timezone">Update</button>
      </span>
    </div>
  </div>
  <div class="form-group row">
    <label for="privacy_policy" class="col-3 col-form-label">Privacy Policy</label>
    <div class="col-9">
      <p>
        <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#rodo-collapse" aria-expanded="false" aria-controls="rodo-collapse">
          Show
        </button> -->
        <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="rodo-collapse">
          Show
        </button>
      </p>
      <div class="collapse" id="rodo-collapse" [ngbCollapse]="isCollapsed">
        <app-rodo></app-rodo>
      </div>
    </div>
  </div>
</form>