<tr th:fragment="emailFooter">
    <td class="container-padding footer-text" align="left" style="font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;color:#aaaaaa;padding-left:24px;padding-right:24px">
        <br/>
        To change notification settings, please use 'Your profile' menu.
        <br/><br/>
        <a href="https://elo-rating.herokuapp.com" style="color:#aaaaaa">Go to application</a>
        |
        <a href="https://github.com/tomek199/elo-rating" style="color:#aaaaaa">View on GitHub</a><br/>
        <br/>
        <br/><br/>
    </td>
</tr>