<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">EloRating</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h2>EloRating invitation</h2>
    <p>
        You are added to league
        <strong th:text="${leagueName}"></strong>
        by user
        <strong th:text="${username}"></strong>.
    </p>
    <p>
        Go to this link
        <a th:href="@{${redirectUrl}}" th:text="@{${redirectUrl}}"></a>
        to see league details .
    </p>
</body>
</html>