<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:remove="all">New match scheduled!</title>
</head>
<body>
    <body>
        <h2>EloRating match scheduled!</h2>
        <p>
            User <strong th:text="${username}"></strong> scheduled match with you at: <strong th:text="${time}"></strong>
        </p>
        <h3>Good luck!</h3>
        <p>
            Go to this link
            <a th:href="@{${redirectUrl}}" th:text="@{${redirectUrl}}"></a>
            to see matches details.
        </p>
    </body>
</body>
</html>