<li class="nav-item dropdown" ngbDropdown (click)="refreshQueue()">
  <a class="nav-link dropdown-toggle" ngbDropdownToggle role="button">Queue</a>
  <div ngbDropdownMenu id="queue-dropdown" class="dropdown-menu">
    <h6 class="dropdown-header">Matches queue</h6>
    <button class="dropdown-item" *ngFor="let match of scheduledMatches; let i = index" (click)="completeMatch(i)">
      <span class="text-primary font-weight-bold ">{{ match.date | date: 'HH:mm' }}</span>
      {{ match.playerOne.username }} 
      <span class="font-italic text-muted">{{match.playerOne.rating}}</span>
      - {{ match.playerTwo.username }}
      <span class="font-italic text-muted">{{match.playerTwo.rating}}</span>  
    </button>
    <a class="dropdown-item disabled" *ngIf="isScheduledMatchesEmpty()" [routerLink]="[ '/leagues', leagueId, 'matches', 'add']">Queue is empty</a>
    <div class=" dropdown-divider" *ngIf="isAuthorized()"></div>
    <a class="dropdown-item " [routerLink]="[ '/leagues', leagueId, 'matches', 'add']" *ngIf="isAuthorized()">Add match to queue</a>
  </div>
</li>
