<app-spinner [resource]="league"></app-spinner>
<div *ngIf="displayWarning()" class="alert alert-warning">
  League doesn't exist!
</div>
<div *ngIf="showSuccessAlert" class="alert alert-success">
  <strong>Success!</strong>
  Changes has been saved.
  <button type="button" class="close" (click)="closeSuccessAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<ng-container *ngIf="league">
  <h1>
    League
    <small class="text-muted">{{league.name}}</small>
    settings
  </h1>
  <div class="card">
    <div class="card-header">Main</div>
    <div class="card-body">
      <form #leagueEdit="ngForm" name="leagueEdit">
        <div class="form-group row">
          <label for="name" class="col-3 col-form-label">Name</label>
          <div class="col-9">
            <input type="text" name="name" [(ngModel)]="league.name" class="form-control" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="maxScore" class="col-3 col-form-label">Max match score</label>
          <div class="col-5">
            <div class="btn-group btn-group-toggle" [(ngModel)]="league.settings.maxScore" ngbRadioGroup name="maxScore">
              <label *ngFor="let score of getMaxScores()" ngbButtonLabel class="btn btn-light">
                <input ngbButton type="radio" [value]="score">{{score}}
              </label>
            </div>
          </div>
          <label class="form-check-label col-2">
            <input type="checkbox" [(ngModel)]="league.settings.allowDraws" name="allowDraws" class="form-check-input col-2">
            Allow draws
          </label>
        </div>
        <button type="button" class="btn btn-success float-right" [disabled]="!leagueEdit.form.valid" (click)="save()">Save</button>
      </form>
    </div>
  </div>
</ng-container>
