<h2>Players list</h2>
<app-user-create-player></app-user-create-player>
<app-spinner [resource]="activePlayers"></app-spinner>
<div class="alert alert-info" *ngIf="displayAlert()">
  Players list is empty!
  <a [routerLink]="['/leagues', leagueId, 'players', 'add']" class="alert-link" *ngIf="isAuthorized()">Add player</a>
</div>
<div class="mb-3 mt-3" *ngIf="hasActivePlayers()">
  <ul class="nav justify-content-end">
    <li>
      <a [routerLink]="['/leagues', leagueId, 'players', 'add']" *ngIf="isAuthorized()">
        <span appOcticon="plus"></span>
        Add player
      </a>
    </li>
  </ul>
</div>
<table class="shadedtable table" *ngIf="hasPlayers()">
  <thead class="thead-light">
    <tr>
      <th>Username</th>
      <th *ngIf="isAuthorized()">Email</th>
      <th class="text-center">Rating</th>
      <th class="text-right" *ngIf="isAuthorized()">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of activePlayers; let i=index">
      <td width="20%" [routerLink]="['/leagues', leagueId, 'players', player.id]">
        <a [routerLink]="['/leagues', leagueId, 'players', player.id]">{{player.username}}</a>
      </td>
      <td name="email" *ngIf="isAuthorized()" [ngSwitch]="hasUser(player)">
        <span *ngSwitchCase="true">{{player.user.email}}</span>
        <span *ngSwitchDefault class="text-secondary">unregistered</span>
      </td>
      <td width="65%" class="text-center" [routerLink]="['/leagues', leagueId, 'players', player.id]">{{player.rating}}</td>
      <td width="15%" class="text-right" *ngIf="isAuthorized()">
        <a class="btn btn-outline-secondary btn-sm" [routerLink]="['/leagues', leagueId, 'players', player.id, 'edit']">Edit</a>
        <button type="button" class="btn btn-outline-danger btn-sm ml-1" (click)="openDisableModal(i)">Disable</button>
      </td>
    </tr>
    <tr *ngFor="let player of inactivePlayers; let i=index" class="table-warning">
      <td>
        <a [routerLink]="['/leagues', leagueId, 'players', player.id]">
          <del class="font-italic">{{player.username}}</del>
        </a>
      </td>
      <td name="email" *ngIf="isAuthorized()" [ngSwitch]="hasUser(player)">
          <span *ngSwitchCase="true">{{player.user.email}}</span>
          <span *ngSwitchDefault class="text-secondary">unregistered</span>
        </td>
      <td class="text-center">
        <del class="font-italic">{{player.rating}}</del>
      </td>
      <td class="text-right" *ngIf="isAuthorized()">
        <a class="btn btn-outline-secondary btn-sm" [routerLink]="['/leagues', leagueId, 'players', player.id, 'edit']">Edit</a>
        <button type="button" class="btn btn-danger btn-sm ml-1" (click)="openDeleteModal(i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="mb-3 mt-3">
  <ul class="nav justify-content-end">
    <li>
      <a [routerLink]="['/leagues', leagueId, 'players', 'add']" *ngIf="isAuthorized()">
        <span appOcticon="plus"></span>
        Add player
      </a>
    </li>
  </ul>
</div>
