<h2>
  Edit player
  <small class="text-muted">{{player.username}}</small>
</h2>
<form #playerEdit="ngForm" class="col-6">
  <div class="form-group row">
    <label for="username" class="col-3 col-form-label">Username</label>
    <div class="col-9">
      <input type="text" name="username" [(ngModel)]="player.username"  class="form-control" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="rating" class="col-3 col-form-label">Rating</label>
    <div class="col-9">
      <input type="text" name="rating" [(ngModel)]="player.rating" class="form-control" disabled required>
    </div>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" name="active" [(ngModel)]="player.active" class="form-check-input">
      Active
    </label>
  </div>
  <button type="submit" class="btn btn-success float-right" [disabled]="!playerEdit.form.valid" (click)="save()">Save</button>
  <button type="button" class="btn btn-link float-right" (click)="goToList()">Back to list</button>
</form>