<div class="alert alert-info" *ngIf="displayAlert()">
  Matches list is empty!
  <a [routerLink]="['/leagues', leagueId, 'matches', 'add']" class="alert-link" *ngIf="isAuthorized()">Add match</a>
</div>
<app-spinner [resource]="scheduledMatches"></app-spinner>
<h2 *ngIf="hasScheduledMatches()">
  Scheduled matches list
  <button [btnSpinner]="matchesListPromise" type="button" class="btn btn-secondary float-right ml-2"
          ngbTooltip="Refresh both matches list" placement="bottom" (click)="getMatches()">Refresh
  </button>
  <button [btnSpinner]="reschedulePromise" *ngIf="showRescheduleBtn()" id="rescheduleBtn"
          class="btn btn-primary float-right" (click)="rescheduleMatches()" ngbTooltip="{{popoverText}}"
          placement="bottom" triggers="mouseenter:mouseleave">Reschedule
  </button>
</h2>
<table id="scheduledMatches" class="shadedtable table table-bordered" *ngIf="hasScheduledMatches()">
  <thead class="thead-light">
  <tr>
    <th>Time</th>
    <th>First player</th>
    <th>Second player</th>
    <th class="text-right" *ngIf="isAuthorized()">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let match of scheduledMatches; let i=index">
    <td [ngClass]="{'table-danger': isTimeAfter(match.date)}">{{match.date | date: "HH:mm"}}</td>
    <td>
      <app-player-cell [match]="match" [player]="match.playerOne"></app-player-cell>
    </td>
    <td>
      <app-player-cell [match]="match" [player]="match.playerTwo"></app-player-cell>
    </td>
    <td class="text-right" *ngIf="isAuthorized()">
      <button type="button" class="btn btn-outline-secondary btn-sm"
              (click)="editMatch(match.id)" ngbTooltip="Edit">
        <span appOcticon="pencil"></span>
      </button>
      <button type="button" class="btn btn-outline-primary btn-sm ml-1"
              (click)="completeMatch(match.id)" ngbTooltip="Complete"
              [disabled]="hasRelatedMatchIncomplete(i)">
        <span appOcticon="repo-push"></span>
      </button>
      <button type="button" class="btn btn-outline-danger btn-sm ml-1"
              (click)="openDeleteModal(match.id)" ngbTooltip="Delete">
        <span appOcticon="trashcan"></span>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<app-spinner [resource]="page"></app-spinner>
<h2 *ngIf="hasCompletedMatches()">
  Completed matches list
  <a class="btn btn-link float-right" [routerLink]="['/leagues', leagueId, 'matches', 'add']" *ngIf="isAuthorized()">
    <span appOcticon="plus"></span>
    Add match
  </a>
</h2>
<table id="completedMatches" class="shadedtable table table-bordered" *ngIf="hasCompletedMatches()">
  <thead class="thead-light">
  <tr>
    <th>Date</th>
    <th>First player</th>
    <th>Score</th>
    <th>Second player</th>
    <th class="text-right" *ngIf="isAuthorized()">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let match of page.content; let i=index">
    <td>
                <span ngbTooltip="{{match.date | date:'HH:mm'}}">
          {{match.date | date:"yyyy-MM-dd"}}
        </span>
    </td>
    <td [ngClass]="{'table-success': isWinner(match, match.playerOne)}">
      <app-player-cell [match]="match" [player]="match.playerOne"></app-player-cell>
    </td>
    <td>
      <span class="badge badge-dark">{{getScore(i, match.playerOne)}}</span> :
      <span class="badge badge-dark">{{getScore(i, match.playerTwo)}}</span>
    </td>
    <td [ngClass]="{'table-success': isWinner(match, match.playerTwo)}">
      <app-player-cell [match]="match" [player]="match.playerTwo"></app-player-cell>
    </td>
    <td class="text-right" *ngIf="isAuthorized()">
      <button type="button" class="btn btn-outline-danger btn-sm" *ngIf="hasBothPlayersDeleted(i)"
              (click)="openDeleteModal(match.id)">Delete
      </button>
      <button type="button" class="btn btn-warning btn-sm" *ngIf="showRevertButton(i)"
              (click)="openRevertModal(match.id)">Revert
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="row" *ngIf="hasCompletedMatches()">
  <div class="col-9">
    <ngb-pagination [collectionSize]="page.totalElements" [(page)]="pageNumber" [pageSize]="page.size" [maxSize]="10"
                    [boundaryLinks]="true" [rotate]="true" (pageChange)="getPage($event)"></ngb-pagination>
  </div>
  <div class="col-3">
    <app-page-size (onPageChange)="setPageSize($event)"></app-page-size>
  </div>
</div>
<ul class="nav justify-content-end">
  <li>
    <a [routerLink]="['/leagues', leagueId, 'matches', 'add']" *ngIf="isAuthorized()">
      <span appOcticon="plus"></span>
      Add match
    </a>
  </li>
</ul>
