<div id="daily-queue">
    <h2>{{ queue.name }}</h2>
    <hr/>
    <table class="table table-hover">
        <thead class="thead-default">
            <tr>
                <th>Player 1</th>
                <th></th>
                <th>Player 2</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let match of queue.matches; let i = index" (click)="deleteElement(i)">
                <td>{{ match.playerOne.username }}</td>
                <td>vs</td>
                <td>{{ match.playerTwo.username }}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr/>
<div>
    <div id="addQueueElementFormToggleContent">
        <div>
            <form #queueMatchAdd="ngForm" id="addQueueElementQueue">
                <div>
                    <ngb-timepicker name="match-time" [(ngModel)]="time"></ngb-timepicker>
                </div>
                <div class="form-group">
                    <input type="text" name="player-one" [(ngModel)]="match.playerOne" [ngbTypeahead]="searchPlayer" [inputFormatter]="playerFormatter" [resultFormatter]="playerFormatter" class="form-control" id="queuePlayer1" placeholder="Player 1">
                </div>
                <div class="form-group">
                    <input type="text" name="player-two" [(ngModel)]="match.playerTwo" [ngbTypeahead]="searchPlayer" [inputFormatter]="playerFormatter" [resultFormatter]="playerFormatter" class="form-control" id="queuePlayer2" placeholder="Player 2" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" (click)="onSubmit()" [disabled]="!formValid()">Add match to queue</button>
                </div>
            </form>
        </div>
    </div>
</div>