<h1>Add match</h1>
<div class="alert alert-info" *ngIf="!hasMinTwoPlayers()">
  At least two players are needed to create the match!  
  <a [routerLink]="['/leagues', leagueId, 'players']" class="alert-link">Manage players</a>
</div>
<form #matchAdd="ngForm" class="col-10" *ngIf="hasMinTwoPlayers()">
  <div class="form-group row">
    <label for="player-one" class="col-2 col-form-label">Player one</label>
    <div class="col-4">
      <input type="text" name="player-one" [(ngModel)]="match.playerOne" [ngbTypeahead]="searchPlayer" [inputFormatter]="playerFormatter" [resultFormatter]="playerFormatter" class="form-control" placeholder="Type first player name">
    </div>
    <label for="player-two" class="col-2 col-form-label">Player two</label>
    <div class="col-4">
      <input type="text" name="player-two" [(ngModel)]="match.playerTwo" [ngbTypeahead]="searchPlayer" [inputFormatter]="playerFormatter" [resultFormatter]="playerFormatter" class="form-control" placeholder="Type second player name">
    </div>
  </div>
  <div class="form-group row">
    <label for="score" class="col-2 col-form-label">Score</label>
    <div class="col-6">
      <div [(ngModel)]="score" (ngModelChange)="setMatchScore()" ngbRadioGroup name="score" class="col-6">
        <label class="btn btn-secondary">
          <input type="radio" value="2-0">2 : 0
        </label>
        <label class="btn btn-secondary">
          <input type="radio" value="2-1">2 : 1
        </label>
        <label class="btn btn-secondary">
          <input type="radio" value="1-2">1 : 2
        </label>
        <label class="btn btn-secondary">
          <input type="radio" value="0-2">0 : 2
        </label>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success float-right" [disabled]="!formValid()" (click)="create()">Create</button>
  <button type="button" class="btn btn-link float-right" (click)="goToList()">Back to list</button>
</form>
