<div class="jumbotron">
    <h1>EloRating</h1>
    <p>Application for managing your tournament's players ranking.</p>
    <form class="form-horizontal" #tournamentAdd="ngForm">
        <div class="form-group">
            <div class="col-md-6">
                <input type="text" name="name" [(ngModel)]="tournament.name" #name="ngModel" class="form-control input-lg" placeholder="Tournament name" required>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-success" [disabled]="!tournamentAdd.form.valid" (click)="addTournament()">Create tournament</button>
    </form>
</div>