<h2>Player statistics</h2>
<div class="alert alert-info" *ngIf="!hasMatches()">
  No statistics to show!
</div>
<ngb-tabset *ngIf="hasMatches()">
  <ngb-tab title="Rating history">
    <ng-template ngbTabContent>
      <chart [options]="ratingHistory"></chart>  
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Matches">
    <ng-template ngbTabContent>
      <div class="row my-3" *ngFor="let series of matchesStats.series">
        <div class="col-3">
          <h5>{{series.name}}:</h5>
        </div>
        <div class="col-9">
          <ngb-progressbar type="{{series.type}}" [value]="series.data.value" [max]="series.data.max" [showValue]="series.showValue">
            <span *ngIf="series.showValue != 'true'">{{series.data.value}} of {{series.data.max}}</span>
          </ngb-progressbar>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>