<h2>
  Player
  <small class="text-muted">{{player.username}}</small>
</h2>
<form #playerDetail class="col-6">
  <div class="form-group row">
    <label for="username" class="col-3 col-form-label">Username</label>
    <div class="col-9">
      <input type="text" name="username" [(ngModel)]="player.username" class="form-control" readonly>
    </div>
  </div>
  <div class="form-group row">
    <label for="rating" class="col-3 col-form-label">Rating</label>
    <div class="col-9">
      <input type="text" name="rating" [(ngModel)]="player.rating" class="form-control" readonly>
    </div>
  </div>
</form>
<div class="card col-12">
  <div class="card-block">
    <app-player-matches [leagueId]="leagueId" [playerId]="player.id"></app-player-matches>
  </div>
</div>
<ul class="nav justify-content-end">
  <li>
    <a [routerLink]="['/leagues', leagueId, 'players']">Back to list</a>
  </li>
</ul>