<h2 class="mt-2">Player matches</h2>
<app-spinner [resource]="scheduledMatches"></app-spinner>
<div class="alert alert-info" *ngIf="displayAlert()">
  Player doesn't have any matches to show!
</div>
<div class="card mt-2" *ngIf="hasScheduledMatches()">
  <div class="card-header">
    Scheduled matches
  </div>
  <div class="card-body">
    <table id="scheduledMatches" class="shadedtable table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Date</th>
          <th>First player</th>
          <th>Second player</th>
          <th class="text-right" *ngIf="isAuthorized()">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of scheduledMatches">
          <td [ngClass]="{'table-danger': isTimeAfter(match.date)}">{{match.date | date: "HH:mm"}}</td>
          <td [ngClass]="{'table-info': isCurrent(match.playerOne)}">
            <app-player-cell [match]="match" [player]="match.playerOne" [currentPlayerId]="playerId"></app-player-cell>
          </td>
          <td [ngClass]="{'table-info': isCurrent(match.playerTwo)}">
            <app-player-cell [match]="match" [player]="match.playerTwo" [currentPlayerId]="playerId"></app-player-cell>
          </td>
          <td class="text-right" *ngIf="isAuthorized()">
            <button type="button" class="btn btn-outline-secondary btn-sm"
                    (click)="editMatch(match.id)" ngbTooltip="Edit">
              <span appOcticon="pencil"></span>
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm ml-1"
                    (click)="completeMatch(match.id)" ngbTooltip="Complete">
              <span appOcticon="repo-push"></span>
            </button>
            <button type="button" class="btn btn-outline-danger btn-sm ml-1"
                    (click)="openDeleteModal(match.id)" ngbTooltip="Delete">
              <span appOcticon="trashcan"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-spinner [resource]="page"></app-spinner>
<div class="card mt-2" *ngIf="hasCompletedMatches()">
  <div class="card-header">
    Completed matches
  </div>
  <div class="card-body">
    <div class="row">
      <div class="form-group col-5">
        <input type="player" name="player" class="form-control" [(ngModel)]="opponent" [ngbTypeahead]="searchPlayers" [inputFormatter]="playerFormatter" [resultFormatter]="playerFormatter" (ngModelChange)="filterByOpponent()" [editable]="false" placeholder="Type player name to filter by opponent">
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-light" (click)="clearFilter()" *ngIf="opponent">Clear filter</button>
      </div>
    </div>
    <table id="completedMatches" class="shadedtable table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Date</th>
          <th>First player</th>
          <th>Score</th>
          <th>Second player</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of page.content; let i=index">
          <td>
            <span ngbTooltip="{{match.date | date:'HH:mm'}}">
              {{match.date | date: "yyyy-MM-dd"}}
            </span>
          </td>
          <td [ngClass]="{'table-success': isWinner(match, match.playerOne), 'table-danger': isLooser(match, match.playerOne)}">
            <app-player-cell [match]="match" [player]="match.playerOne" [currentPlayerId]="playerId"></app-player-cell>
          </td>
          <td>
            <span class="badge badge-dark">{{getScore(i, match.playerOne)}}</span>
            :
            <span class="badge badge-dark">{{getScore(i, match.playerTwo)}}</span>        
          </td>
          <td [ngClass]="{'table-success': isWinner(match, match.playerTwo), 'table-danger': isLooser(match, match.playerTwo)}">
            <app-player-cell [match]="match" [player]="match.playerTwo" [currentPlayerId]="playerId"></app-player-cell>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row" *ngIf="hasCompletedMatches()">
      <div class="col-9">
        <ngb-pagination [collectionSize]="page.totalElements" [(page)]="pageNumber" [pageSize]="page.size" [maxSize]="10" [boundaryLinks]="true" [rotate]="true" (pageChange)="getPage($event)"></ngb-pagination>
      </div>
      <div class="col-3">
        <app-page-size (onPageChange)="setPageSize($event)"></app-page-size>
      </div>
    </div>
  </div>
</div>
