#elo-favicon {
  width: 30px;
  height: 30px;
}

.navbar-brand {
  grid-area: header
}

#navbar-links {
  grid-area: navigation
}

#addMatch {
  grid-area: add-match
}

app-league-search {
  grid-area: search
}

ul > li#leagueSettingsBtn {
  grid-area: settings
}

app-google-auth {
  grid-area: login
}

@media(max-width: 800px) {
  nav div.container {
    display: grid;
    grid-template-areas: 
      'header search login'
      'navigation add-match settings'
  }
}

@media(max-width: 600px) {
  nav div.container {
    display: grid;
    grid-template-areas: 
      'header header'
      'login login'
      'search search'
      'navigation navigation'
      'add-match settings'
  }
}