<div>
  <form class="form-inline" [hidden]="token" [ngbPopover]="signinPopContent" popoverTitle="Login Error" #signInPopover="ngbPopover" triggers="manual" placement="bottom">
    <app-google-button [buttonId]="'googleNavButton'" (onSignIn)="onSignIn($event)"></app-google-button>
  </form>
  <ul class="navbar-nav" *ngIf="token && user">
    <li class="nav-item dropdown" ngbDropdown [autoClose]="true">
      <a class="nav-link dropdown-toggle p-1" ngbDropdownToggle role="button">
        <img id="user-image" [src]="user.pictureUrl" class="rounded"/>
      </a>
      <div ngbDropdownMenu id="queue-dropdown" class="dropdown-menu dropdown-menu-right">
        <h6 class="dropdown-header">
          Signed in as <br/>
          <strong>{{user.name}}</strong>
        </h6>
        <div class=" dropdown-divider"></div>
        <a [routerLink]="['leagues', leagueId, 'players', getCurrentPlayerId()]" class="dropdown-item" *ngIf="getCurrentPlayerId()">Your player</a>
        <a [routerLink]="['leagues', leagueId, 'users', 'invite']" class="dropdown-item" *ngIf="isAuthorized()">Invite user</a>
        <div class=" dropdown-divider" *ngIf="isAuthorized()"></div>
        <a [routerLink]="getProfileUrl()" class="dropdown-item" *ngIf="isAuthenticated()">Your profile</a>        
        <button class="dropdown-item" (click)="signOut()">Sign out</button>
      </div>
    </li>
  </ul>
</div>
<ng-template #signinPopContent>
  <span>Error while signing in! Please try again</span>
</ng-template>
