<h2 *ngIf="hasScheduledMatches()">Scheduled matches</h2>
<table id="scheduledMatches" class="table table-bordered" *ngIf="hasScheduledMatches()">
  <thead class="thead-default">
    <tr>
      <th>Date</th>
      <th>First player</th>
      <th>Second player</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let match of scheduledMatches; let i=index">
      <td>{{match.date | date: "yyyy-MM-dd HH:mm"}}</td>
      <td class="table-info" *ngIf="isCurrent(match.playerOne)">{{match.playerOne.username}}</td>
      <td class="table-info" *ngIf="isCurrent(match.playerTwo)">{{match.playerTwo.username}}</td>      
      <td *ngIf="!isCurrent(match.playerOne)">
        <a [routerLink]="['/leagues', leagueId, 'players', match.playerOne.id]">{{match.playerOne.username}}</a>
      </td>
      <td *ngIf="!isCurrent(match.playerTwo)">
        <a [routerLink]="['/leagues', leagueId, 'players', match.playerTwo.id]">{{match.playerTwo.username}}</a>
      </td>
    </tr>
  </tbody>
</table>
<h2>Played matches</h2>
<div class="alert alert-info" *ngIf="!hasMatches()">
  Player didn't play any matches yet!
</div>
<table id="playedMatches" class="table table-bordered" *ngIf="hasPlayedMatches()">
  <thead class="thead-default">
    <tr>
      <th>Date</th>
      <th>First player</th>
      <th>Score</th>
      <th>Second player</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let match of playedMatches; let i=index">
      <td>
        <span ngbTooltip="{{match.date | date:'HH:mm'}}">
          {{match.date | date: "yyyy-MM-dd"}}
        </span>
      </td>
      <td *ngIf="isCurrent(match.playerOne)" [ngClass]="{'table-success': isWinner(i, match.playerOne), 'table-danger': isLooser(i, match.playerOne)}">{{match.playerOne.username}}</td>
      <td *ngIf="!isCurrent(match.playerOne)">
        <em *ngIf="!match.playerOne" class="text-warning">deleted player</em>
        <a *ngIf="match.playerOne?.active == false" [routerLink]="['/leagues', leagueId, 'players', match.playerOne.id]">
          <del class="text-muted">{{match.playerOne.username}}</del>
        </a>
        <a *ngIf="match.playerOne?.active == true" [routerLink]="['/leagues', leagueId, 'players', match.playerOne.id]">{{match.playerOne.username}}</a>
      </td>
      <td>
        <span class="badge badge-default">{{getScore(i, match.playerOne)}}</span>
        :
        <span class="badge badge-default">{{getScore(i, match.playerTwo)}}</span>        
      </td>
      <td *ngIf="isCurrent(match.playerTwo)" [ngClass]="{'table-success': isWinner(i, match.playerTwo), 'table-danger': isLooser(i, match.playerTwo)}">{{match.playerTwo.username}}</td>
      <td *ngIf="!isCurrent(match.playerTwo)">
        <em *ngIf="!match.playerTwo" class="text-warning">deleted player</em>
        <a *ngIf="match.playerTwo?.active == false" [routerLink]="['/leagues', leagueId, 'players', match.playerTwo.id]">
          <del class="text-muted">{{match.playerTwo.username}}</del>
        </a>
        <a *ngIf="match.playerTwo?.active == true" [routerLink]="['/leagues', leagueId, 'players', match.playerTwo.id]">{{match.playerTwo.username}}</a>
      </td>
    </tr>
  </tbody>
</table>
