<h2 *ngIf="hasScheduledMatches()">Scheduled matches list</h2>
<table id="scheduledMatches" class="shadedtable table table-bordered" *ngIf="hasScheduledMatches()">
  <thead class="thead-default">
    <tr>
      <th>Date</th>
      <th>First player</th>
      <th>Second player</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let match of scheduledMatches">
      <td>{{match.date | date: "yyyy-MM-dd HH:mm"}}</td>
      <td>
        <a [routerLink]="['/leagues', leagueId, 'players', match.playerOne.id]">{{match.playerOne.username}}</a>
      </td>
      <td>
        <a [routerLink]="['/leagues', leagueId, 'players', match.playerTwo.id]">{{match.playerTwo.username}}</a>
      </td>
      <td class="text-right">
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="goToMatch(match.id)">Complete</button>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="openDeleteModal(match.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="alert alert-info" *ngIf="!hasMatches()">
  Matches list is empty!
  <a [routerLink]="['/leagues', leagueId, 'matches', 'add']" class="alert-link">Add match</a>
</div>
<h2 *ngIf="hasCompletedMatches()">Completed matches list</h2>
<table id="completedMatches" class="shadedtable table table-bordered" *ngIf="hasCompletedMatches()">
  <thead class="thead-default">
    <tr>
      <th>Date</th>
      <th>First player</th>
      <th>Score</th>
      <th>Second player</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let match of page.content; let i=index">
      <td>
        <span ngbTooltip="{{match.date | date:'HH:mm'}}">
          {{match.date | date:"yyyy-MM-dd"}}
        </span>
      </td>
      <td [ngClass]="{'table-success': isWinner(i, match.playerOne)}">
        <em *ngIf="!match.playerOne" class="text-warning">deleted player</em>
        <a *ngIf="match.playerOne?.active == false" [routerLink]="['/leagues', leagueId, 'players', match.playerOne.id]">          
          <del class="text-muted">{{match.playerOne.username}}</del>
        </a>            
        <a *ngIf="match.playerOne?.active == true" [routerLink]="['/leagues', leagueId, 'players', match.playerOne.id]">{{match.playerOne.username}}</a>
      </td>
      <td>
        <span class="badge badge-default">{{getScore(i, match.playerOne)}}</span>
        :
        <span class="badge badge-default">{{getScore(i, match.playerTwo)}}</span>        
      </td>
      <td [ngClass]="{'table-success': isWinner(i, match.playerTwo)}">      
        <em *ngIf="!match.playerTwo" class="text-warning">deleted player</em>
        <a *ngIf="match.playerTwo?.active == false" [routerLink]="['/leagues', leagueId, 'players', match.playerTwo.id]">          
          <del class="text-muted">{{match.playerTwo.username}}</del>
        </a>            
        <a *ngIf="match.playerTwo?.active == true" [routerLink]="['/leagues', leagueId, 'players', match.playerTwo.id]">{{match.playerTwo.username}}</a>
      </td>
      <td class="text-right">
        <button type="button" class="btn btn-outline-danger btn-sm" *ngIf="hasBothPlayersDeleted(i)" (click)="openDeleteModal(match.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="row" *ngIf="hasCompletedMatches()">
  <div class="col-9">
    <ngb-pagination [collectionSize]="page.totalElements" [(page)]="pageNumber" [pageSize]="page.size" [maxSize]="10" [boundaryLinks]="true" [rotate]="true" (pageChange)="getPage($event)"></ngb-pagination>
  </div>
  <div class="col-3">
    Page size &nbsp;
    <div [(ngModel)]="pageSize" (ngModelChange)="setPageSize()" ngbRadioGroup name="pageSize">
      <label class="btn btn-sm btn-secondary">
        <input type="radio" [value]="5">5
      </label>
      <label class="btn btn-sm btn-secondary">
        <input type="radio" [value]="10">10
      </label>
      <label class="btn btn-sm btn-secondary">
        <input type="radio" [value]="20">20
      </label>
      <label class="btn btn-sm btn-secondary">
        <input type="radio" [value]="50">50
      </label>
    </div>
  </div>
</div>
<ul class="nav justify-content-end">
  <li>
    <a [routerLink]="['/leagues', leagueId, 'matches', 'add']">Add match</a>
  </li>
</ul>
