<div class="alert alert-warning" *ngIf="showCookiesWarning">
  <button type="button" class="close" (click)="closeCookiesWarning()">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Cookies!</strong>
  We use cookies on <span class="font-italic">EloRating</span> service. By using this website, you agree to our use of cookies.
</div>
<app-nav *ngIf="showNavbar" [leagueId]="leagueId"></app-nav>
<div id="main-container" class="container mt-3">
  <router-outlet></router-outlet>
</div>
<a href="#" id="feedback" role="button" class="btn btn-info" [routerLink]="['leagues', 'feedback', 'send']">Feedback</a>
<ng-template ngbModalContainer></ng-template>