<div id="daily-queue">
    <h2>Daily queue</h2>
    <hr/>
    <table class="table table-hover">
        <thead class="thead-default">
            <tr>
                <th>Player 1</th>
                <th></th>
                <th>Player 2</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let queueElement of dailyQueue">
                <td>{{ queueElement.player1 }}</td>
                <td>vs</td>
                <td>{{ queueElement.player2 }}</td>
            </tr>
        </tbody>
    </table>
</div>